<launch>
    <node name="main_gui_node" pkg="intera_examples" type="main_gui.py" output="screen"/>
    <node name="rsdk_flex_ik_service_client" pkg="intera_examples" type="sawyer_ik_solver.py" output="screen"/>
    <node name="live_item_pose_node" pkg="intera_examples" type="fetch_new_object_position_publisher.py" output="screen" />
</launch>
